/* Copyright 2025 Remy Blank <remy@c-space.org> */
/* SPDX-License-Identifier: MIT */

@import "print-common.css";

@page {
    @top-left {
        content: attr(data-tdoc-subject);
    }
    @top-right {
        content: attr(data-tdoc-title);
    }
    @bottom-left {
        content: attr(data-tdoc-author);
    }
    @bottom-center {
        content: counter(page) " / " counter(pages);
    }
    @bottom-right {
        content: attr(data-tdoc-date);
    }
}
