# Configuration file for OSITAH application

# Where to read the data
hito:
  db:
    # type muste be sqlite or mysql
    #type: sqlite
    type: mysql
    # location must be a filename for sqlite or server/database for mysql
    #location: 'c:\temp\hito-dev.sqlite'
    location: 'localhost/hito'
    user: hitousery
    password: *verysecret*
    # After this time (in seconds), DB connection is recycled
    inactivity_timeout: 900
    # For some unidentified reason, in SQLite, "stagiaire" carriere type is not found with an exact match...
    agent_query: |
      SELECT
          DISTINCT(agent.id)
        , agent.nom
        , agent.prenom
        , agent.team_id as team_id
        , team.nom as team
        , agent.statut as statut
        , agent.email as email
        , agent.corps_exercice_metier as cem
        , CASE
          WHEN agent.email_auth IS NULL THEN agent.email
          ELSE agent.email_auth
          END                            AS email_auth
      FROM
          agent
          LEFT JOIN team on team.id = agent.team_id
          JOIN carriere on carriere.agent_id = agent.id
      WHERE
          agent.archive = 0
          AND
          carriere.date_debut = (
              SELECT MAX(c.date_debut)
              FROM carriere AS c
              WHERE
                  agent.id = c.agent_id
                  AND
                  (c.type IN ("apprenti", "cdd", "emeritat", "stagiaire", "visiteur") OR c.type LIKE "arrivee%" OR c.type LIKE "stagiaire%")
              )
          AND
          carriere.date_debut <= $$TODAY$$
  # Patterns to identify the different activity categories from the activity name
  categories:
    consultance: 'Consultances & Expertises'
    enseignement: 'Enseignement Supérieur'
    local_project: 'Local projects'
    service: 'Services & Support'
  # Time unit (default is hours for categories not listed). Supported values h(our), w(eek)
  time_unit:
    local_project: w
    nsip_project: w
    service: w
  # Column titles to use when displying the information about categories and agents
  titles:
    consultance: 'Consultance'
    declarations_number: 'Déclarations effectuées'
    enseignement: 'Enseignement'
    fullname: 'Agent'
    local_project: 'projets locaux'
    missings_number: 'Déclarations obligatoires manquantes'
    nsip_project: 'projets NSIP'
    percent_global: 'Temps déclarés (%)'
    service: 'Service'
    statut: 'Statut'
    team: 'Equipe'

# Web server information
server:
  port: 9999
  authentication:
    ldap:
      # uri can be space-separated list
      uri: 'ldaps://ijclabad1.ijclab.in2p3.fr ldaps://ijclabad2.ijclab.in2p3.fr ldaps://ccijclabad01.ijclab.in2p3.fr'
      base_dn: 'ou=ijclab,dc=ijclab,dc=in2p3,dc=fr'
      bind_dn: 'CN=Non-Interactive Queries,OU=SI,OU=Services techniques,OU=Laboratoire,DC=lal,DC=in2p3,DC=fr'
      password: 'ldap_bind_password'
    provider_name: "MyLab account"

# Options related to declarations
declaration:
  # Default date must be a date included into the selected validation period. It is a default, if no other explicitly selection
  #default_date: 2021-07-01
  # Delay (in days) before setting the default period to the next one, after the end of the period. Ignored if default_date is defined
  period_change_delay: 60
  # max_hours specifies the upper valid value for activities declared in hours
  max_hours: 400
  # Agent statut whose declaration is not mandatory
  optional_statutes:
    - benevole
    - emerite
    - stagiaire
    - visiteur
  # Team who are not required to declare: values must match the beginning of the team name
  optional_teams:
    - Administration
    - Support
  # Thresholds used to mark declarations as low, suspect or good
  # The value is the upper bound for the corresponding class
  # Thresholds are declared by semester as they are typically different
  thresholds:
    # S1: assume ho holidays as the default
    s1:
      low: 50
      suspect: 80
      good: 100
    # S2: assume 4 weeks of holidays by default (summer + Christmas)
    s2:
      low: 50
      suspect: 70
      good: 85

# Information related to declaration analysis
analysis:
  contributions_sorted_by_name: False

# Information related to validation
validation:
  override_period:
    - ROLE_SUPER_ADMIN
    - ROLE_PROJECT_MANAGER

# Users with specific rights
roles:
  # List users (with their connection email) who are given a read-only access to OSITAH (no validation right)
  read-only:
    - user@my.dom.ain

# NSIP related parameters

nsip:
  # The following sections configures information about NSIP service
  # For each part of the API, there must be a base URL and some operation sub-urls
  agent_api:
    base_url: /api_labo/agent
    declaration_add: /declaration/create
    declaration_delete: /declaration/delete
    declaration_update: /declaration/update
    project_assign: /project/assign
  institute_api:
    base_url: /api_institut
    declaration_period_list: /declaration_period/list
  lab_api:
    base_url: /api_labo
    agent_list: /agent/list
    declaration_list: /declaration/list
    project_list: /project/list
    reference_list: /reference/list
  server_url: https://nsip.in2p3.fr
  token: nsip_lab_token

  # teaching dictionary allows to define a ratio to apply to teaching activities.
  # It also allows to define (optionally) a list of CEM that this ratio must
  # be applied to (instead of all agents).
  # master allows to define the masterproject identifying teaching activities
  # (default: Enseignement Supérieur)
  teaching:
    masterproject: Enseignement Supérieur
    ratio: 4.4
    cem:
      - cem_enseignant_chercheur

  # Match against NSIP reference types to define the OSITAH masterproject.
  # A reference with no value will cause the entry to be ignored by OSITAH.
  # Reference types can be regex.
  reference_masterprojects:
    consultancyexpertise: Consultances & Expertises
    highereducation: Enseignement Supérieur
    servicesupport: Services & Support


# project_teams allow to define a list of teams for a project
# The project name is matched against the list of defined projects and must be a regex matching
# the beginning of the project name. A team can be specified as a regex.
# Example below is for IJCLab: update according to your needs.
project_teams:
  Consultances & Expertises:
    - .*
  Enseignement Supérieur:
    - Accélérateurs.*
    - A2C.*
    - Direction
    - Energie.*
    - Ingénierie.*
    - Nucléaire.*
    - PHE.*
    - Plateforme.*
    - Santé.*
    - Théorie.*
  Services & Support / Assurance-Qualité:
    - Support - Projets
  Services & Support / Budget-Finances:
    - Administration - Division financière
  Services & Support / Communication-Documentation:
    - Support - Communication
  #Services & Support / Environnement:
  Services & Support / Formation:
    - Support - Enseignement
  #Services & Support / Hygiène-Sécurité:
  Services & Support / Management:
    - .*
  Services & Support / Partenariat:
    - Support - STIRI
  Services & Support / Patrimoine:
    - Support - Infrastructure
  Services & Support / Radioprotection:
    - Support - Service SPR
  Services & Support / Ressources Humaines:
    - Administration.* - RH.*
  Services & Support / Secrétariat:
    - Direction - Assistantes
  #Services & Support / Services Généraux:
  Services & Support / Support-Biologie:
    - Santé.*
  Services & Support / Support-Electronique:
    - Ingénierie - Electronique.*
  Services & Support / Support-Informatique:
    - Ingénierie - Informatique
  Services & Support / Support-Instrumentation:
    - Ingénierie - Détecteurs.*
  Services & Support / Support-Mécanique:
    - Ingénierie - Mécanique
  #Services & Support / Sûreté:
  Services & Support / Valorisation:
    - Support - STIRI
