.custom-modal-header {
  background-color: rgb(32,41,58);
  color: white;
  border-bottom: 1px solid #dee2e6;
  padding: 1rem 1.25rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.custom-modal-header .modal-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.custom-modal-header .btn-close {
  margin-left: auto;
  filter: invert(1);
}
