/* CSS for the validation part of OSITAH */

div.login_page {
    margin-left: 50px;
}

div.login_form_field {
    font-weight: bold;
    margin-top: 20px;
}

input.login_button {
    margin-top: 30px;
    margin-left: 45px;
}

ul.flash-message {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}


/* CSS for Dash components */

.team_list_dropdown {
   margin-top: 15px;
}

.validated_hito_missing {
   background-color: tomato;
}

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: url("arrow_down_up.svg");
}

th.sorttable_sorted::after {
  background: url("sort_ascending.svg");
  background-size: contain;
}
th.sorttable_sorted_reverse::after {
  background: url("sort_descending.svg");
  background-size: cover;
}

#sorttable_sortfwdind, #sorttable_sortrevind { display: none; }