html {
	overflow: auto !important;
}

body {
	overflow-x: auto;
}

@media (min-width: 67.001em) {
	.sidebar-drawer {
		width: auto !important;
		min-width: 23em !important;
	}

	.sidebar-container {
		width: auto !important;
		min-width: 23em !important;
	}
}

.content { width: auto !important }
.highlight .nn { text-decoration: none !important }

.toggle .header {
	display: block;
	clear: both;
	cursor: pointer;
}

.toggle .header p {
	display: inline-block;
	margin-left: .5em;
}

.toggle .header::before {
	content: " ▶";
}

.toggle .header.open::before {
	content: " ▼";
}

.sidebar-logo {
	max-width: 50%;
}