/* ### responsive design mixin ### */
/* hide scroll bar */
/* webkit based browsers */
.chat::-webkit-scrollbar,
.container::-webkit-scrollbar,
.app::-webkit-scrollbar,
ul::-webkit-scrollbar,
ol::-webkit-scrollbar {
  display: none;
}

/* good old IE */
.chat,
.container,
.app,
ul,
ol {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: "IntroCond-RegularAlt";
  src: url(../font/ic_regular_alt.otf);
}
@font-face {
  font-family: "IntroCond-SemiBoldAlt";
  src: url(../font/ic_semibold_alt.otf);
}
.container {
  justify-content: flex-start;
  width: 48vw;
  height: inherit;
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .container {
    width: 577px;
  }
}
@media (max-width: 578px) {
  .container {
    width: 100vw;
    padding: 8px;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top a,
.top button {
  font-size: 1rem;
}

.logo {
  flex-shrink: 0;
  flex-grow: 0;
  width: 151px;
  height: 33px;
  background-image: url(../img/logo_chat.svg);
  background-size: cover;
  margin: 28px 0 27px 0;
}
@media (max-width: 578px) {
  .logo {
    width: 110px;
    height: 24px;
    margin: 7px 0 10px 0;
  }
}

.logout {
  margin: 0 10px;
}

.btn-download {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a5ff0;
  color: #fff;
  padding: 8px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f0f2fe;
  border-radius: 16px;
  padding: 0;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.chat-messages-container {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 9px;
  overflow-y: scroll;
}
.chat-messages-container ul,
.chat-messages-container ol {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}
@media (max-width: 578px) {
  .chat-messages-container ul,
  .chat-messages-container ol {
    padding: 10px;
  }
}
.chat-messages-container li {
  overflow-wrap: anywhere;
  color: #000;
  padding: 16px;
  border-radius: 9px;
  max-width: 75%;
}
@media (max-width: 578px) {
  .chat-messages-container li {
    max-width: 95%;
  }
}
.chat-messages-container li span pre {
  position: relative;
  white-space: pre-wrap;
  background-color: #282c34;
  padding: 42px 9px 9px 9px;
  border-radius: 9px;
}
.chat-messages-container li span p {
  margin: 0;
}
.chat-messages-container li span p:last-child {
  margin-bottom: -1.15rem;
}
.chat-messages-container li span ul,
.chat-messages-container li span ol {
  margin: 0;
  padding: 0 20px;
}
.chat-messages-container li span ul li,
.chat-messages-container li span ol li {
  overflow-wrap: anywhere;
  margin: 0;
  padding: 0 8px;
  max-width: 100%;
}
.chat-messages-container li span ul li:last-child,
.chat-messages-container li span ol li:last-child {
  margin-bottom: 0;
}
.chat-messages-container li span ol:last-child,
.chat-messages-container li span ul:last-child {
  margin-bottom: -1.15rem;
}
.chat-messages-container li span ul {
  list-style-type: "-";
}
.chat-messages-container li span ol {
  list-style-type: decimal;
}
.chat-messages-container li span .halimg {
  width: 100%;
  height: auto;
}
.chat-messages-container .msg-assistant {
  align-self: flex-start;
  background-color: #fff;
  color: #000;
  margin: 0 0 16px 0;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 1.5px;
  white-space: pre-line;
}
.chat-messages-container .msg-assistant pre .copy-btn,
.chat-messages-container .msg-assistant pre .lang-lbl {
  position: absolute;
  top: 9px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  background-color: #4a5ff0;
  color: #fff;
  font-family: IntroCond-RegularAlt;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  border-radius: 9px;
  border: none;
}
.chat-messages-container .msg-assistant pre .copy-btn {
  position: absolute;
  right: 9px;
  cursor: pointer;
}
.chat-messages-container .msg-assistant pre .lang-lbl {
  position: absolute;
  left: 9px;
}
.chat-messages-container .msg-user {
  align-self: flex-end;
  background-color: #4a5ff0;
  color: #fff;
  margin: 0 0 16px 0;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 1.5px;
  white-space: pre-line;
}
.chat-messages-container .sender-assistant,
.chat-messages-container .sender-user {
  font-size: 0.625rem;
  line-height: 22px;
  color: #5a5875;
  padding: 0;
}
.chat-messages-container .sender-assistant .name,
.chat-messages-container .sender-user .name {
  font-family: IntroCond-SemiBoldAlt;
}
.chat-messages-container .sender-assistant .timestamp,
.chat-messages-container .sender-user .timestamp {
  font-family: IntroCond-RegularAlt;
}
.chat-messages-container .sender-assistant {
  align-self: flex-start;
}
.chat-messages-container .sender-user {
  align-self: flex-end;
}

.functionCallLabel {
  display: inline-block;
  border: 1px solid #4a5ff0;
  background-color: #4a5ff0;
  color: #fff;
  border-radius: 9px;
  padding: 4px;
  margin: 4px;
}

.user-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  width: calc(100% - 40px);
  max-height: 25vh;
  margin: 8px 20px 20px 20px;
  border-radius: 9px;
  background-color: #fff;
}
@media (max-width: 578px) {
  .user-input-container {
    width: 100%;
    margin: 8px 0 0 0;
  }
}
.user-input-container .user-input-overlay {
  position: absolute;
  display: none;
  z-index: 99;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: calc(48vw - 40px);
  height: inherit;
  padding: 21px 128px 21px 16px;
  color: #fff;
  background-color: #a8b2f7;
  font-family: IntroCond-RegularAlt;
  font-size: 0.875rem;
  line-height: 22px;
  letter-spacing: 1.5px;
  border-radius: 9px;
  resize: none;
  overflow: auto;
}
@media (max-width: 1200px) {
  .user-input-container .user-input-overlay {
    width: 537px;
    padding: 21px 128px 21px 16px;
  }
}
@media (max-width: 578px) {
  .user-input-container .user-input-overlay {
    width: calc(100vw - 16px);
    padding: 21px 64px 21px 8px;
  }
}
.user-input-container .user-input {
  flex: 1;
  background-color: #fff;
  z-index: 1;
  font-family: IntroCond-RegularAlt;
  font-size: 0.875rem;
  line-height: 22px;
  letter-spacing: 1.5px;
  min-height: 64px;
  max-height: 25vh;
  width: 100%;
  padding: 21px 16px;
  border-radius: 9px;
  overflow: auto;
  border: none;
  resize: none;
}
@media (max-width: 578px) {
  .user-input-container .user-input {
    padding: 21px 8px;
  }
}
.user-input-container .user-input::-moz-placeholder {
  font-family: IntroCond-SemiBoldAlt;
  font-size: 14px;
  color: #a8b2f7;
  letter-spacing: 1.75px;
  line-height: 22px;
}
.user-input-container .user-input::placeholder {
  font-family: IntroCond-SemiBoldAlt;
  font-size: 14px;
  color: #a8b2f7;
  letter-spacing: 1.75px;
  line-height: 22px;
}
.user-input-container .user-input:focus {
  color: #000;
  outline: none;
}
.user-input-container .buttons {
  display: flex;
  z-index: 100;
  justify-content: flex-end;
  align-items: space-between;
  padding: 8px;
}
@media (max-width: 578px) {
  .user-input-container .buttons {
    flex-direction: column;
    padding: 6px;
  }
}
.user-input-container .send {
  position: inherit;
  cursor: pointer;
  height: 48px;
  width: 48px;
  margin-right: 8px;
  background-image: url(../img/icon-send.svg);
  background-size: cover;
  background-color: #4a5ff0;
  border-radius: 9px;
  border: none;
}
@media (max-width: 578px) {
  .user-input-container .send {
    margin-right: 0;
    margin-bottom: 4px;
    height: 28px;
    width: 28px;
  }
}
.user-input-container .send:disabled {
  background-color: #a8b2f7;
}
.user-input-container .record {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-color: #4a5ff0;
  border-radius: 9px;
  border: none;
}
.user-input-container .record img {
  width: 32px;
  height: 32px;
}
@media (max-width: 578px) {
  .user-input-container .record {
    margin-bottom: -4px;
    height: 28px;
    width: 28px;
  }
  .user-input-container .record img {
    width: 20px;
    height: 20px;
  }
}
.user-input-container .record:disabled {
  background-color: #a8b2f7;
}

.active-recording {
  background: linear-gradient(314deg, #46f704, #1eabe1);
  background-size: 400% 400%;
  animation: recording-anim 2s ease infinite;
}

.loading-dots {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #4a5ff0;
  color: #4a5ff0;
  animation: loading-dots 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.loading-dots::before,
.loading-dots::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading-dots::before {
  left: -10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #4a5ff0;
  color: #4a5ff0;
  animation: loading-dots 1s infinite alternate;
  animation-delay: 0s;
}

.loading-dots::after {
  left: 10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #4a5ff0;
  color: #4a5ff0;
  animation: loading-dots 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes loading-dots {
  0% {
    background-color: #4a5ff0;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
@keyframes recording-anim {
  0% {
    background-position: 4% 0%;
  }
  50% {
    background-position: 97% 100%;
  }
  100% {
    background-position: 4% 0%;
  }
}/*# sourceMappingURL=chat.css.map */