@import "vars.scss";

/* ### responsive design mixin ### */
@mixin breakpoint($point) {
  @if $point ==mobileonly {
    @media (max-width: 600px) {
      @content;
    }
  }
}

@font-face {
  font-family: 'IntroCond-RegularAlt';
  src: url(../font/ic_regular_alt.otf);
}

@font-face {
  font-family: 'IntroCond-SemiBoldAlt';
  src: url(../font/ic_semibold_alt.otf);
}

.container {
  justify-content: space-between;
}


.logo {
  width: 230px;
  height: 100px;
  background-image: url(../img/logo_login.svg);
  background-size: cover;
}

.sub-header {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.75px;
  width: fit-content;
  max-width: 300px;
  height: 40px;
  margin: 0;
}

.intro-narrow {
  display: none;
}

@media (max-width: 600px) {
  .intro-wide {
    display: none;
  }

  .intro-narrow {
    display: inline-block;
    text-align: justify;
  }
}

.intro-text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.75px;
  max-width: 540px;
  height: fit-content;
  margin: 32px 32px 48px 32px;
  word-wrap: normal;

  @include breakpoint(mobileonly) {
    margin: 8px 8px 12px 8px;
  }
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.75px;
  color: $halerium-light-light-4;
  text-align: center;
}

.required::before {
  content: "*";
  position: absolute;
  color: $halerium-core-red-1;
  font-family: IntroCond-SemiBoldAlt;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.75px;
  text-align: center;
  width: fit-content;
  height: 22px;
  margin: 0 -16px;
  padding: 0;
}

input,
select {
  display: block;
  font-family: IntroCond-SemiBoldAlt;
  font-size: 14px;
  color: $halerium-light-light-4;
  letter-spacing: 1.75px;
  line-height: 22px;
  width: 300px;
  height: 42px;
  margin: 0px 0 8px 0;
  padding: 10px 16px;
  border-radius: 9px;
  border: none;
  background-color: $halerium-core-white-1;
}

input::placeholder,
select::placeholder {
  font-size: 14px;
  font-family: IntroCond-SemiBoldAlt;
  color: $halerium-light-light-4;
  letter-spacing: 1.75px;
  line-height: 22px;
}

input:focus {
  color: $halerium-core-black-1;
}

.btn-send {
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.75px;
  width: 300px;
  height: 48px;
  margin: 0;
  padding: calc(14px/4) 0 0 0;
  border-radius: 9px;
  border: none;
  color: $halerium-core-white-1;
  font-family: IntroCond-SemiBoldAlt;
  background-color: $halerium-core-blue-1;
}

.btn-send:active {
  color: $halerium-core-white-1;
}

.footer {
  flex-wrap: wrap;
  justify-content: space-between;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;

  p {
    margin: 0;
    padding: 32px;

    @include breakpoint(mobileonly) {
      padding: 4px 32px;
    }
  }

  .left {
    color: $halerium-core-black-1;
    text-align: left;
    width: 480px;

    @include breakpoint(mobileonly) {
      width: 100%;
      text-align: justify;
    }
  }

  .right {
    align-self: flex-end;
    text-align: right;
    height: fit-content;
    width: fit-content;

    a {
      text-decoration: None;
      color: $halerium-core-blue-1;
    }

    @include breakpoint(mobileonly) {
      width: 100%;
      text-align: center;
    }
  }
}