$navy: #002a43;
$obj-01: #4a5ff0;
$obj-02: #3d9bff;
$obj-03: #4cc9f3;
$obj-04: #8ac19f;
$obj-05: #d0ad24;
$obj-06: #e49704;
$obj-07: #ff9633;
$obj-08: #ff8652;
$obj-09: #ff635a;
$obj-10: #ff2560;
$minty-green: #00ff69;
$erium-1: #00ff69;
$erium-2: #026e54;
$erium-3: #005173;
$erium-4: #002a43;
$halerium-light-light-1: #f0f2fe;
$halerium-light-light-2: #e3e6fd;
$halerium-light-light-3: #c5ccfa;
$halerium-light-light-4: #a8b2f7;
$halerium-dark-dark-1: #1b1b24;
$halerium-dark-dark-2: #252431;
$halerium-dark-dark-3: #343244;
$halerium-dark-dark-4: #5a5875;
$halerium-core-black-1: #000;
$halerium-core-white-1: #fff;
$halerium-core-blue-1: #4a5ff0;
$halerium-core-green-1: #08d35e;
$halerium-core-yellow-1: #ffb245;
$halerium-core-red-1: #e04b4b;
$card-colors-n-darkgreen-1: #005173;
$card-colors-n-green-1: #1ca46c;
$card-colors-n-turquoise-1: #119eac;
$card-colors-n-blue-1: #373bbc;
$card-colors-n-purple-1: #753bb7;
$card-colors-n-red-1: #b73b67;
$card-colors-n-orange-1: #df6348;
$card-colors-n-yellow-1: #d4953c;
$c-punk-1: #ff8cbe;
$c-sky-1: #a9c7fb;
$c-green-1: #2bed7b;
$c-yellow-1: #facb56;
$c-blue-1: #76dcff;
$c-sand-1: #ffb192;