[data-md-color-scheme="slate"] {
    --md-hue: 79;
    --bg-lightness: 8%;
    --code-bg-lightness: 14%;

    --md-glass-color:           hsla(120, 2%, 8%, 0.6);
    --md-glass-color-light:           hsla(120, 2%, 8%, 0.2);
    --md-glass-primary-color: hsla(120, 6%, 10%, 0.25);
    --md-glow-color:            hsla(122, 100%, 63%, 0.5);

    --md-invert: 0%;

    --md-code-bg-color:                 hsla(var(--md-hue),  1%,   var(--code-bg-lightness),   1);
    --md-code-bg-color--light:          hsla(var(--md-hue),  1%,   var(--code-bg-lightness),   0.66);
    --md-code-bg-color--lighter:        hsla(var(--md-hue),  1%,   var(--code-bg-lightness),   0.33);

    --md-default-bg-color:              hsla(var(--md-hue),  1%,   var(--bg-lightness),   1);
    --md-default-bg-color--light:       hsla(var(--md-hue),  1%,   var(--bg-lightness),   0.54);
    --md-default-bg-color--lighter:     hsla(var(--md-hue),  1%,   var(--bg-lightness),   0.26);
    --md-default-bg-color--lightest:    hsla(var(--md-hue),  1%,   var(--bg-lightness),   0.07);

    --code-border-top:      rgba(255, 255, 255, 0.08);
    --code-border-left:     rgba(255, 255, 255, 0.04);
    --code-border-right:    rgba(255, 255, 255, 0.04);
    --code-border-bottom:   rgba(255, 255, 255, 0.12);
}

[data-md-color-scheme="default"] {
    --md-glass-primary-color: rgba(76, 174, 79, 0.9);
    --md-invert: 100%;
    --md-glow-color: rgb(238, 255, 237);

    --code-border-top:      rgba(0, 0, 0, 0.08);
    --code-border-left:     rgba(255, 255, 255, 0.04);
    --code-border-right:    rgba(255, 255, 255, 0.04);
    --code-border-bottom:   rgba(255, 255, 255, 0.12);
}