.md-header {
    padding-top: 10px;
}

.md-header, .md-top {
    background-color: var(--md-glass-primary-color);
    color: var(--md-typeset-color);
    backdrop-filter: blur(20px);
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: rgba(0, 0, 0, 0.065) -2px 5px 12px;

    .md-tabs {
        background-color: transparent;
        color: var(--md-typeset-color);
    }
}

.md-top:hover {
    background-color: color-mix(in srgb, var(--md-primary-fg-color--dark) 50%, transparent);
}

.md-search__form {
    border-radius: 20px !important;
}

.md-logo, .md-search__icon {
    filter: invert(var(--md-invert));
}

.md-tabs__item, .md-tabs__list {
    overflow: visible;
}
.md-tabs__link:hover {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.02),
        0 0 19px rgba(255, 255, 255, 0.04),
        0 0 44px rgba(255, 255, 255, 0.06),
        0 0 78px rgba(255, 255, 255, 0.08),
        0 0 122px rgba(255, 255, 255, 0.10);
}