.md-tooltip2__inner {
    border-radius: 20px !important;
    background-color: var(--md-glass-color);
    color: var(--md-typeset-color);
    backdrop-filter: blur(20px);
    z-index: 3;

    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-left: 1px solid rgba(255, 255, 255, 0.04);
    border-right: 1px solid rgba(255, 255, 255, 0.04);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: rgba(0, 0, 0, 0.065) -2px 5px 12px;

    overflow: clip;
}

[role="dialog"] > .md-tooltip2__inner::before {
    visibility: hidden;
}


[role="dialog"] > .md-tooltip2__inner::after {
    visibility: hidden;
}