Services
{
  BookkeepingManager
  {
    Port = 9167
    Authorization
    {
      Default = all
    }
  }
  ##BEGIN TornadoBookkeepingManager:
  # Section to describe BookkeepingManager service
  TornadoBookkeepingManager
  {
    Authorization
    {
      Default = all
    }
  }
  ##END
}
