a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover[role='button'] {
  text-decoration: none;
}
.form-control {
  margin-bottom: 0.5rem;
}
h2 {
  margin-top: 1.5rem;
}
h3 {
  margin-top: 1rem;
}
