.wsc-theme-custom {
    --wsc_primary: #006c9d;
    --wsc_lightgrey: #F1F1F1;
    --wsc_primary-100: #E4F7FF;
    --wsc_primary-200: #BCEAFF;
    --wsc_primary-300: #93DDFF;
    --wsc_primary-400: #6AD0FF;
    --wsc_primary-500: #41C4FF;
    --wsc_primary-600: #18B7FF;
    --wsc_primary-800: #00A4EF;
    --wsc_primary-800: #0088C6;
    --wsc_primary-900: #006C9D;
}


.wsc-theme-custom .wsc-badge__label-button {
    background-color: var(--wsc_primary) !important;
    color: #fff;
}

.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:hover:not(.wsc-button--disable),
.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:focus:not(.wsc-button--disable),
.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:active:not(.wsc-button--disable) {
    background: var(--wsc_primary) !important;
    color: #fff !important;
}

.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:hover:not(.wsc-button--disable),
.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:focus:not(.wsc-button--disable),
.wsc-theme-custom .wsc-problem-item__suggestion .wsc-button:active:not(.wsc-button--disable) {
    background: var(--wsc_primary) !important;
    color: #fff;
}

.wsc-theme-custom .wsc-action-items__first-action .wsc-button--text:hover {
    background: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-header__button:hover,
.wsc-theme-custom .wsc-header__button:focus,
.wsc-theme-custom .wsc-header__button:active {
    background-color: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-action-items__second-action > .wsc-button:hover,
.wsc-theme-custom .wsc-action-items__more-actions > .wsc-button:hover {
    background-color: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-navigation-section .wsc-button:hover,
.wsc-theme-custom .wsc-navigation-section .wsc-button:focus,
.wsc-theme-custom .wsc-navigation-section .wsc-button:active {
    background-color: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-settings .wsc-settings__button:hover,
.wsc-theme-custom .wsc-settings .wsc-settings__button:focus,
.wsc-theme-custom .wsc-settings .wsc-settings__button:active {
    background-color: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-checkbox:checked + label::before {
    background: var(--wsc_primary);
}

.wsc-theme-custom .wsc-checkbox:checked + label:hover::before {
    background-color: var(--wsc_primary-800);
}

.wsc-theme-custom .wsc-checkbox:checked:focus + label::before {
    -webkit-box-shadow: 0 0 0 5px var(--wsc_lightgrey);
    -moz-box-shadow: 0 0 0 5px var(--wsc_lightgrey);
    box-shadow: 0 0 0 5px var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-select:focus,
.wsc-theme-custom .wsc-languages .wsc-select:focus,
.wsc-theme-custom .wsc-dictionaries__input input:focus {
    background-color: #fff !important;
    border-color: var(--wsc_primary) !important;
    box-shadow: none !important;
}

.wsc-theme-custom .wsc-button--primary.wsc-button--text {
    border-color: var(--wsc_primary);
    background: var(--wsc_primary);
    color: #fff;
}

.wsc-theme-custom .wsc-button--primary.wsc-button--text:focus,
.wsc-theme-custom .wsc-button--primary.wsc-button--text:active {
    border-color: var(--wsc_primary);
    background: var(--wsc_lightgrey);
    color: #444;
}

.wsc-theme-custom .wsc-button--primary.wsc-button--text:hover:not(.wsc-button--disable) {
    border-color: var(--wsc_primary-800);;
    background: var(--wsc_primary-800);;
    color: #fff;
}


.wsc-theme-custom .wsc-button--primary.wsc-button--disable,
.wsc-theme-custom .wsc-button--primary.wsc-button--disable:hover,
.wsc-theme-custom .wsc-button--primary.wsc-button--disable:focus {
    background-color: #F7F8F9;
    border-color: #F7F8F9;
    color: #444;
}

.wsc-theme-custom .wsc-create-section__createDictionaryButton {
    border-color: #fff;
    background: #fff;
    color: #444;
}

.wsc-theme-custom .wsc-create-section__createDictionaryButton:focus,
.wsc-theme-custom .wsc-create-section__createDictionaryButton:active {
    border-color: var(--wsc_primary);
    background: #fff;
    color: #444;
}

.wsc-theme-custom .wsc-create-section__createDictionaryButton:hover {
    border-color: var(--wsc_lightgrey);
    background: var(--wsc_lightgrey);
    color: #444;
}


.wsc-theme-custom .wsc-delete-section .wsc-action-items__more-actions > .wsc-button:focus,
.wsc-theme-custom .wsc-delete-section .wsc-action-items__more-actions > .wsc-button:active,
.wsc-theme-custom .wsc-delete-section .wsc-action-items__more-actions .wsc-action-items__list .wsc-button:focus,
.wsc-theme-custom .wsc-delete-section .wsc-action-items__more-actions .wsc-action-items__list .wsc-button:active {
    background-color: var(--wsc_lightgrey);
}

.wsc-theme-custom .wsc-badge--checking .wsc-badge__label-button {
    background-image: url("/++resource++imio.webspellchecker/plone_spinner.svg") !important;
}
div.wsc-badge.wsc-theme-custom.wsc-badgewrapper__badge.wsc-badge--animationMove.wsc-badge--checking button.wsc-button.wsc-button--clear.wsc--focusable.wsc-badge__label-button.wsc-badge__button{
    background-image: url("/++resource++imio.webspellchecker/plone_spinner.svg") !important;
    background-color: transparent !important;
}
.wsc-theme-custom .wsc-ie9 .wsc-badge--checking:not(.wsc-badge--small) .wsc-badge__label-button,
.wsc-theme-custom .wsc-ie10 .wsc-badge--checking:not(.wsc-badge--small) .wsc-badge__label-button,
.wsc-theme-custom .wsc-ie11 .wsc-badge--checking:not(.wsc-badge--small) .wsc-badge__label-button {
    -ms-background-position-y: 1px !important;
    -ms-background-position-x: 1px !important;
    background-image: url("/++resource++imio.webspellchecker/plone_spinner.svg") !important;
    background-color: transparent !important;
    animation: none !important
}

.wsc-theme-custom .wsc-badge__item .wsc-badge__icon:hover, .wsc-badge__item .wsc-button:focus .wsc-badge__icon {
  color: var(--wsc_primary-800) !important;
}
