.req {
    background-color: #FAFAFA;
    position: relative;
}

.req p .title {
    font-weight:bold;
}

.req p .reqid {
    position: absolute;
    left: 100%;
    display: inline;
    font-size: 70%;
}
