.o_Message {
    .o_Message_telegram {
        cursor: pointer;
        opacity: 0;
        margin-right: -5px;
        padding: 4px;
    }

    &.o-clicked .o_Message_telegram {
        opacity: 0.6;
    }

    &:hover {
        .o_Message_telegram {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
}
