.analysisItem {
    margin-top: 16px;
}

.textarea {
    height: fit-content;
    padding: 8px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    font-size: 1rem;
    padding: 4px;
}

.textarea:focus {
    outline: none;
}

.textarea[contenteditable]:empty::before {
    content: "Analysis...";
    color: #eee;
}

.sarContainer {
    justify-content: space-between;

    .sarInput {
        align-items: flex-start;
        width: 52%;
        margin: 8px 0;

        input[type="text"] {
            width: 100%;
            height: 2rem;
            margin: 0 0 4px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            padding: 8px;

        }

        .sarCheckbox {
            margin: 2px 0;
        }
    }

    .sarButton {
        width: 45%;
        margin: 8px 0;
        height: 68px;
    }
}