@font-face {
  font-family: "IntroCond-RegularAlt";
  src: url(../font/ic_regular_alt.otf);
}
@font-face {
  font-family: "IntroCond-SemiBoldAlt";
  src: url(../font/ic_semibold_alt.otf);
}
:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: IntroCond-RegularAlt;
}

body {
  position: relative;
  margin: 0;
  background-color: #e3e6fd;
}

a {
  text-decoration: none;
  color: #4a5ff0;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
  /* make this column on mobile devices */
}
@media (max-width: 578px) {
  .row {
    flex-direction: column;
  }
}

/* always row, even on mobile */
.row-hard {
  flex-direction: row;
}

.fh {
  min-height: 100dvh;
}

.fw {
  width: 100%;
}

.yc {
  justify-content: center;
}

.xc {
  align-items: center;
}

.xr {
  justify-content: flex-end;
}

.xl {
  justify-content: left;
}

.containerMain, .container {
  width: 768px;
  /* on mobile, just do 100 vw */
}
@media (max-width: 768px) {
  .containerMain, .container {
    width: 100vw;
  }
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 24px;
}

.logoContainer {
  background-color: transparent;
  box-shadow: none;
  font-size: 1.6rem;
  margin: 8px 0;
}

.logo {
  width: 151px;
  height: 33px;
  margin: 8px 0;
  background-image: url("../img/logo_halerium.svg");
  /* on mobile, make it smaller */
}
@media (max-width: 578px) {
  .logo .logo {
    width: 200px;
    height: 24px;
    margin: 7px 0 10px 0;
  }
}

.formContainer {
  background-color: transparent;
  padding: 0 24px;
  margin: 8px 0;
}

.header {
  font-size: 1.5rem;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

.subheader {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: left;
}

.logoSubheader {
  text-align: left;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 8px 0;
}

.btnPrimary {
  background-color: #b73b67;
  color: #fff;
  border: 1px solid #b73b67;
  padding: 8px 16px;
  text-align: center;
  font-size: 1.6rem;
  margin: 25px 0;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
}

.btnSecondary {
  background-color: #fff;
  color: #373bbc;
  border: 1px solid #373bbc;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.btnNavigator {
  background-color: #fff;
  color: #4a5ff0;
  border: 1px solid #4a5ff0;
  padding: 5px 16px;
  text-align: center;
  font-size: 1rem;
  margin: 0 8px;
  height: 2rem;
  cursor: pointer;
  border-radius: 8px;
  /* on mobile, add space between them */
}
@media (max-width: 578px) {
  .btnNavigator {
    margin: 4px 0;
  }
}

.containerUserInput {
  padding: 0;
  margin: 8px 0;
}

.iconUserInput {
  height: 3.2rem;
  padding: 8px 8px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  font-size: 2rem;
  width: -moz-fit-content;
  width: fit-content;
}

.selectUserInput:focus {
  outline: none;
}

.topLeft {
  width: 100%;
  text-align: left;
}

.disabled {
  border-color: #ccc;
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.table tr {
  border-bottom: 1px solid #eee;
  height: 2rem;
}/*# sourceMappingURL=main.css.map */