@import "vars.scss";

.btnPauseResumeRecording {
    width: 0;
    padding: 0;
    margin: 8px 0 0 0;
    background-color: $halerium-core-white-1;
    border: 0 solid $card-colors-n-blue-1;
    border-radius: 8px;
    color: $card-colors-n-blue-1;
    font-size: 2rem;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.showButton {
    width: 64px;
    padding: 8px;
    margin: 8px 0 0 8px;
    border-width: 1px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.waveVisCanvas {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 8px 0 0 0;
    padding: 4px;
}

.overlayRecordingPaused {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
    color: $card-colors-n-red-1;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.showOverlay {
    display: block;
}