@import "vars.scss";

/* Styling the progress bar */
.upload-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    background-color: $halerium-light-light-4;
    border-radius: 5px;
    margin: 25px 0;
}

.progress-bar {
    width: 0%;
    height: 2.6rem;
    background-color: $card-colors-n-blue-1;
    border-radius: 5px;
}

.progress-text {
    color: $halerium-light-light-1;
    font-size: 1rem;
    margin-left: -3rem;
}

.busy-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 2.6rem;
    background-color: $halerium-light-light-4;
    border-radius: 5px;
    margin: 25px 0;
    position: relative;
}

.busy-progress::after {
    content: 'Processing...';
    position: absolute;
    color: $halerium-light-light-1;
    font-size: 1rem;
    z-index: 1;
}

.busy-bar {
    position: absolute;
    width: 35%;
    height: 100%;
    background-color: $card-colors-n-blue-1;
    border-radius: 5px;
    z-index: 0;
}

/* animating the busy bar so a smaller blue bar goes from left to right to left */
.busy-bar {
    animation: busy 4s infinite ease-in-out;
}

@keyframes busy {
    0% {
        left: -30%;
    }

    50% {
        left: 95%;
    }

    100% {
        left: -30%;
    }
}