@import "vars.scss";

#uploadForm {
    display: none;
}

#btnRecordMeeting {
    border: 1px solid $card-colors-n-red-1;
    background-color: $card-colors-n-red-1;
}

#btnUploadFile {
    background-color: $card-colors-n-blue-1;
    border: 1px solid $card-colors-n-blue-1;


}

#btnRecordMeeting,
#btnUploadFile,
#uploadProgress {
    width: 40%;

    /* on mobile make this 100% width */
    @media (max-width: 578px) {
        width: 100%;
    }
}

.separator {
    border-left: 1px solid black;
    margin: 8px 24px;

    /* on mobile, vertical line */
    @media (max-width: 578px) {
        border-left: none;
        border-top: 1px solid black;
        margin: 8px 0;
    }
}