body {
    background: linear-gradient(to bottom, #101010, #202020);
    color: white;
    font-family: Calibri, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #ff5555;
}
button {
    background-color: #ff5555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-row {
    display: flex;
    gap: 1rem;
}
.form-row .half {
    flex: 1;
}
select, option {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
}