
:root {
    --tr1-color:rgb(230,230,255);
    --tr2-color:rgb(250,250,255);
    --tr3-color:rgb(230,255,230);
    --th1-color:rgb(220,220,255);
    --th2-color:rgb(250,250,255);
    --name-color: blue;
}


h4 {
    font-size: 12pt;
    font-style: normal;
    padding: 0.5em 0em;
    margin: 0;
}

h5 {
    font-size: 12pt;
    padding: 1em 0pt 0pt 0pt;
    margin: 0;
}


h6 {
    font-size: 12pt;
    padding: 1.5em 0pt 0.5em 0pt;
    margin: 0;
}

body {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-size: 9pt !important;
    border: solid 1px !important;
    border-collapse: collapse;
    font-style: normal;
    margin: 1em 0em;
    overflow-wrap: anywhere;
    width: 100%;
}

td {
    border-top-color: black !important;
    border-left: solid 1px !important;
    padding: 1mm 2mm;
    text-align: left !important;
    vertical-align: top !important;
    overflow-wrap: anywhere;
}


th {
    font-weight: bolder !important;;
    background-color: var(--th1-color);
    border-left: solid 1px !important;
    text-align: center !important;
    vertical-align: top !important;
    overflow-wrap: anywhere;
}

hr {
    border: 1px solid;
}

.debug {
    display: none;
}

.error {
    font-weight: bold;
    color: rgb(255, 100, 100);
}

.note {
    font-size: smaller;
    color: rgb(100, 100, 100);
}

/* table name | description */

.table_name_description tr td:first-child {
    width: 20%;
}

.table_name_description tr:nth-child(odd) {
    background-color: var(--tr1-color) !important;
}
.table_name_description tr:nth-child(even) {
    background-color: var(--tr2-color) !important;
}

/* table name | legacy | description */
.table_name_legacy_description tr td:first-child {
    width: 20%;
}

.table_name_legacy_description tr td:nth-child(2) {
    width: 25%;
}

.table_name_legacy_description tr:nth-child(odd) {
    background-color: var(--tr1-color) !important;
}
.table_name_legacy_description tr:nth-child(even) {
    background-color: var(--tr2-color) !important;
}

/* table name | legacy | description | level */
.table_name_legacy_description_level tr td:first-child {
    width: 15%;
}

.table_name_legacy_description_level tr td:nth-child(2) {
    width: 15%;
}

.table_name_legacy_description_level tr td:nth-child(4) {
    width: 8%;
}

.table_name_legacy_description_level tr:nth-child(odd) {
    background-color: var(--tr1-color) !important;
}
.table_name_legacy_description_level tr:nth-child(even) {
    background-color: var(--tr2-color) !important;
}

.grouped_data {
    padding: 5pt 0pt;
}

.grouped_data tr.group {
    background-color: var(--tr1-color) !important;
    border: solid 1px;
    border-bottom: 0px;
}

.grouped_data tr.variable {
    background-color: var(--tr3-color) !important;
}

.grouped_data tr.group_doc {
    background-color: var(--tr2-color) !important;
    border: solid 1px;
    border-top: 0px;
}

.eogroup span.unit {
    color: rgb(100,100,100);
    font-style: italic;
}

.eogroup th.name {
    width: 22%;
}

.eogroup th.range {
    width: 15%;
}

.eogroup th.type {
    width: 10%;
}

.eogroup th.dimensions {
    width: 15%;
}

.eogroup th.unit {
    width: 20%;
}


.tasktable th.name {
    width: 16%;
}

.tasktable th.description {
}

.tasktable th.mandatory {
    width: 12%;
}

.tasktable th.retrieval {
    width: 18%;
}


.tasktable th.margin {
    width: 17%;
}

.tasktable ul {
    padding: 0;
}

.tasktable li:first-child {
    list-style: none;
}

.tasktable li {
    list-style: "⋅ " inside;
}

.tasktable tr td.name li:first-child {
    list-style: none;
}

.tasktable tr td.name li {
    list-style: "or " inside;
}

.ellipsis {
    font-style: normal;
    margin-bottom: 2em;
}


.ellipsis ul.all_paths
{
    columns: 3;
    list-style: none;

}

.ellipsis .path {
    font-weight: normal;
    font-size: x-small;
}

.properties {
    font-weight: bold;
}

.metadata {
    font-style: normal;
}

.metadata .title {
    font-weight: bold;
}

.metadata th.details {
    font-size: normal;
}

.metadata .details {
}

.metadata .sample {
    color: navy;
    font-style: italic;
    font-weight: normal;
}

.metadata th.name {
    width: 24%;
}

.metadata th.description {
    width: 38%;
}

.coordinate {
    color: #1e805d;
    font-style: italic;
}

.flag {
    color: darkblue;
}
