
@page {
    size: A4;
    margin: 2cm;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

p {
    orphans: 3;
    widows: 3
}

 h1, h2, h3, h4 {
    page-break-after:avoid;
    break-after: avoid;
 }

h2 {
    padding: 1cm;
}

table, img, svg {
    break-inside: avoid;
}

.variable {
    break-inside: avoid;
}

.content-block, p {
    page-break-inside: avoid;
}
