.speedtest-run-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.speedtests {
  margin-top: 24px;
}

.speedtest-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.speedtest-history {
  margin-top: 16px;
}

.speedtest-history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
